<!--<div style="background: #723C99; width:100%">
    <h4>Universidad central</h4>
    <h4>Daniela Calderón Vela</h4>
    <h4>2020 - Version 1.2</h4>
</div> 
-->
<!--<footer>
    <div style="background: #723C99; width:100%">
  
    <h4>Universidad central</h4>
    <h4>Daniela Calderón Vela</h4>
    <h4>2020 - Version 1.2</h4>
    
</div>
</footer>-->
<!-- Footer -->
<br>
<footer class="page-footer font-small dark fixed-bottom">

    <!-- Copyright -->
    
    <div class="footer-copyright text-center py-3">
        <a>Universidad central</a>
        <br>
        <a>Daniela Calderón Vela</a>
        <br>
        <a>2020 - Version 1.2</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

